{% extends "base.html" %}
{% block nav %}
<div class="container">
  <div id="accordion">
    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenum" aria-expanded="false" aria-controls="collapsenum">
      <div class="card-header" id="headingnum">
        <h5 class="mb-0">
            #
        </h5>
      </div>
      </button>
      <div id="collapsenum" class="collapse" aria-labelledby="headingnum" data-parent="#accordion">
        <div class="card-body">
          <ul style="list-style: none;">
          {% for show in tvshows %}
          {% if show.name.0 >= '0' and show.name <= '9' %}
          <li> <a href={% url 'showdetails' show.pk %}>{{ show }}</a> <p></p> </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoand" aria-expanded="false" aria-controls="collapseTwoand">
      <div class="card-header" id="headingTwoand">
        <h5 class="mb-0">
            &
        </h5>
      </div>
      </button>
      <div id="collapseTwoand" class="collapse" aria-labelledby="headingTwoand" data-parent="#accordion">
        <div class="card-body">
          <ul style="list-style: none;">
          {% for show in tvshows %}
          {% if show.name.0|upper in abets %}
          {% elif show.name.0 >= '0' and show.name <= '9' %}
          {% else %}
          <li><a href={% url 'showdetails' show.pk %}>{{ show }}</a><p></p> </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% for a in abets %}
    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo{{ a }}" aria-expanded="false" aria-controls="collapseTwo{{ a }}">
      <div class="card-header" id="headingTwo{{ a }}">
        <h5 class="mb-0">
            {{ a }}
        </h5>
      </div>
      </button>
      <div id="collapseTwo{{ a }}" class="collapse" aria-labelledby="headingTwo{{ a }}" data-parent="#accordion">
        <div class="card-body">
          <ul style="list-style: none;">
          {% for show in tvshows %}
            {% if show.name.0|upper == a %}
            <li><a href={% url 'showdetails' show.pk %}>{{ show }}</a><p></p> </li>
            {% endif %}
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
